.bottom-pane-wrapper {
	min-height: 929px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0
}

.bottom-pane-wrapper h2 {
	font-size: 138px !important;
	color: #fff
}

.bottom-pane-wrapper .content-wrapper {
	padding: 0 15px
}

.bottom-pane-wrapper h3 {
	font-size: 65px;
	color: #fff;
	font-weight: 500;
	line-height: 1.2
}

.bottom-pane-wrapper a {
	color: #fff
}

.bottom-pane-wrapper .button-wrapper a {
	padding: 21px 35px;
	font-size: 40px;
	background-color: #fc153b;
	border: 1px solid #fc153b;
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
	position: absolute;
	bottom: 98px
}

.bottom-pane-wrapper .button-wrapper a:hover {
	background-color: #da1434;
	border: 1px solid #da1434;
	color: #fff
}

@media(max-width:1920px) {
	.bottom-pane-wrapper h2 {
		font-size: 98px !important
	}
	.bottom-pane-wrapper h3 {
		font-size: 41px
	}
	.bottom-pane-wrapper .button-wrapper a {
		padding: 19px 35px;
		font-weight: 900;
		font-size: 34px
	}
}

@media(max-width:1700px) {
	.bottom-pane-wrapper h2 {
		font-size: 80px !important
	}
	.bottom-pane-wrapper h3 {
		font-size: 35px
	}
	.bottom-pane-wrapper .button-wrapper a {
		font-size: 18px
	}
}

@media(max-width:1500px) {
	.bottom-pane-wrapper {
		min-height: 600px
	}
	.bottom-pane-wrapper h2 {
		font-size: 50px !important
	}
	.bottom-pane-wrapper h3 {
		font-size: 25px
	}
	.bottom-pane-wrapper .button-wrapper a {
		font-size: 20px;
		padding: 10px 26px
	}
}

@media(max-width:1199px) {
	.bottom-pane-wrapper {
		min-height: 600px;
		padding: 50px 0px;
		margin-top: 50px
	}
	.bottom-pane-wrapper h2 {
		font-size: 60px !important
	}
	.bottom-pane-wrapper h3 {
		font-size: 28px
	}
	.bottom-pane-wrapper .button-wrapper a {
		font-size: 18px;
		padding: 15px 30px
	}
}

@media(max-width:991px) {
	.bottom-pane-wrapper {
		min-height: 500px;
		padding: 40px 0px;
		margin-top: 0
	}
	.bottom-pane-wrapper h2 {
		font-size: 40px !important
	}
	.bottom-pane-wrapper h3 {
		font-size: 20px
	}
	.bottom-pane-wrapper .button-wrapper a {
		padding: 12px 24px;
		font-size: 16px
	}
}

@media(max-width:767px) {
	.bottom-pane-wrapper h2 {
		font-size: 35px !important
	}
	.bottom-pane-wrapper h3 {
		font-size: 18px
	}
	.bottom-pane-wrapper {
		min-height: 400px;
		padding: 40px 0px;
		margin-top: 0
	}
}

@media(max-width:575px) {
	.bottom-pane-wrapper {
		min-height: auto
	}
	.bottom-pane-wrapper .button-wrapper a {
		position: initial
	}
	.bottom-pane-wrapper h3 {
		font-size: 20px;
		margin-bottom: 30px
	}
}
