
.row1-content-writing h2 {
	font-size: 180px;
	font-weight: 900
}

.row1-content-writing .dnd-section {
	padding: 100px 0
}

.container-fluid.row1-content-writing .span6 {
	padding: 0 15px;
	margin: 0;
	width: 50%
}

.row1-content-writing h2 {
	font-size: 180px;
	font-weight: 900
}

.row1-content-writing .span6:first-child img {
	width: 33%;
	margin: 80px 0 111px;
	display: block
}

.row1-content-writing .widget-type-linked_image {
	width: 100%
}

.row2-content-writing .dnd-section {
	padding: 100px 0
}

.row1-content-writing .span6:first-child p {
	font-size: 49px;
	font-weight: 500;
	margin-bottom: 50px
}

.row2-content-writing p {
	font-size: 66px
}

.row2-content-writing h4 {
	font-size: 70px;
	margin-top: 50px;
	display: block;
	font-weight: normal;
	margin-bottom: 0
}

.row2-content-writing .dnd-section {
	padding: 100px 0
}

.row2-content-writing h2 {
	font-size: 125px;
	margin-bottom: 50px;
	font-weight: 900
}

.row2-content-writing .span6 {
	padding: 0 15px;
	width: 50%;
	margin: 0
}

.row3-content-writing.private-bus .dnd-section {
	padding: 100px 0;
	position: relative;
	min-height: 1225px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: unset !important
}

	.row2-content-writing h2 {
		margin-bottom: 50px;
		font-size: 89px;
		font-weight: 900
	}
	.row2-content-writing p {
		font-size: 47px
	}
	.row2-content-writing h4 {
		font-size: 59px !important
	}
	.row1-content-writing h2 {
		font-size: 100px
	}
	.row1-content-writing h2 {
		font-size: 100px !important
	}
	.row1-content-writing .span6:first-child p {
		font-size: 34px
	}
	.row1-content-writing .span6:first-child p:last-child {
		margin-bottom: 1rem
	}
	.row2-content-writing h2 {
		font-size: 70px !important;
		margin-bottom: 40px
	}
	.row2-content-writing p {
		font-size: 38px
	}
	.row2-content-writing h4 {
		font-size: 45px !important
	}
	.row1-content-home h2:after {
		bottom: -148px;
		width: 232px
	}
	.row3-content-writing.private-bus .dnd-section {
		min-height: auto;
		padding: 50px 0px
	}
	.row1-content-writing h2 {
		font-size: 60px
	}
	.row1-content-writing h2 {
		font-size: 60px !important
	}
	.row1-content-writing .dnd-section {
		padding: 40px 0px
	}
	.row1-content-writing .span6:first-child img {
		margin: 40px 0;
		width: 40%
	}
	.row1-content-writing .span6:first-child p {
		font-size: 18px
	}
	.row2-content-writing h2 {
		margin-bottom: 35px;
		font-size: 35px !important
	}
	.row2-content-writing p {
		font-size: 20px
	}
	.row2-content-writing h4 {
		font-size: 24px !important;
		margin-top: 20px
	}
	.row2-content-writing .dnd-section {
		padding: 40px 0px
	}
	.private-bus h2 {
		font-size: 40px !important;
		margin-bottom: 40px !important
	}
	.private-bus p {
		font-size: 20px;
		margin-top: 0
	}
	.row1-content-writing h2 {
		font-size: 35px
	}
	.row1-content-writing .dnd-section>.row-fluid {
		display: flex
	}
	.row1-content-writing h2 {
		font-size: 35px !important
	}
	.container-fluid.row1-content-writing .span6:first-child {
		width: 41.666667%
	}
	.row1-content-writing .span6:first-child img {
		margin: 20px 0 20px;
		width: 50%
	}
	.row1-content-writing .span6:first-child p {
		font-size: 15px
	}
	.container-fluid.row1-content-writing .span6:last-child {
		width: 58.333333%
	}
	.row2-content-writing .dnd-section>.row-fluid {
		display: flex;
		flex-wrap: wrap
	}
	.row2-content-writing h2 {
		margin-bottom: 30px;
		font-size: 32px !important
	}
	.row2-content-writing p {
		font-size: 16px
	}
	.row2-content-writing h4 {
		font-size: 18px !important;
		margin-top: 20px
	}
	.private-bus h2 {
		font-size: 32px !important;
		margin-bottom: 15px !important
	}
	.private-bus p {
		font-size: 16px;
		margin-top: 0
	}
	.row3-content-writing.private-bus .dnd-row>.row-fluid {
		display: flex;
		width: 100%;
		flex-wrap: wrap
	}
	.row3-content-writing.private-bus .dnd-section {
		min-height: auto;
		padding: 40px 0px 40px;
		background-position: center !important
	}
	.row3-content-writing.private-bus .hs_error_rollup ul.no-list.hs-error-msgs.inputs-list li label,
	.row3-content-writing.private-bus ul.no-list.hs-error-msgs.inputs-list li label {
		font-size: 16px
	}

	.row1-content-writing h2 {
		font-size: 46px
	}
	.row1-content-writing h2 {
		font-size: 35px !important
	}
	.container-fluid.row1-content-writing .span6 {
		width: 100% !important
	}
	.row1-content-writing .dnd-section>.row-fluid {
		display: block
	}
	.row1-content-writing h2 {
		font-size: 46px !important
	}
	.row1-content-writing .span6:first-child img {
		margin: 20px 0;
		width: 100px
	}
	.row1-content-writing .span6:first-child p {
		font-size: 20px
	}
	.row1-content-writing .span6:first-child p br {
		display: none
	}
	.container-fluid.row1-content-writing .span6:last-child {
		width: 58.333333%;
		margin-top: 30px;
		text-align: center
	}
	.row2-content-writing .span6 {
		padding: 0 15px;
		width: 100%;
		margin: 0
	}
	.row2-content-writing h2 {
		margin-bottom: 30px;
		font-size: 35px !important
	}
	.row2-content-writing p {
		font-size: 20px
	}
	.row2-content-writing h4 {
		font-size: 22px !important;
		margin-top: 20px
	}
	.private-bus h2 {
		font-size: 35px !important;
		margin-bottom: 15px !important
	}
	.row3-content-writing.private-bus .dnd-row>.row-fluid {
		display: block;
		width: 100%;
		flex-wrap: wrap
	}
	.container-fluid.row3-content-writing.private-bus .span6 {
		padding: 0 15px;
		width: 100%;
		margin: 0
	}
