@media(min-width:1921px) {
	.footer__container,
	.header__container,
	.dnd-section>.row-fluid,
	.content-wrapper {
		max-width: 2300px
	}
}

html {
	font-size: 16px
}

body {
	font-size: 16px;
	color: rgba(33, 37, 41, 1.0);
	font-weight: 400;
	font-family: Circular, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif
}

p {
	font-size: 16px;
	color: #212529;
	font-weight:
}

a {
	color: #0270e0;
	font-family: Circular, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif
}

a:hover,
a:focus,
a:active {
	color: #0270e0
}

h1 {
	font-family: Circular;
	font-size: 98px;
	color: rgba(33, 37, 41, 1.0);
	font-weight: 700
}

h2 {
	font-family: Circular;
	font-size: 90px;
	color: rgba(33, 37, 41, 1.0);
	font-weight: 700
}

h3 {
	font-family: Circular;
	font-size: 55px;
	color: rgba(0, 104, 255, 1.0);
	font-weight: 700
}

h4 {
	font-family: Circular;
	font-size: 47px;
	color: rgba(33, 37, 41, 1.0);
	font-weight: 500
}

h5 {
	font-family: Circular;
	font-size: 29px;
	color: rgba(33, 37, 41, 1.0);
	font-weight: 500
}

h6 {
	font-family: Circular;
	font-size: 20px;
	color: rgba(33, 37, 41, 1.0);
	font-weight: 500
}

blockquote {
	border-left-color: #f8fafc
}

button,
.button {
	background-color: rgba(252, 21, 59, 1.0);
	border: 0px solid #fff;
	border-radius: 0px;
	color: #fff;
	padding: 20px 35px
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	background-color: rgba(212, 0, 19, 1.0);
	border-color: #d7d7d7;
	color: #fff
}

button:active,
.button:active {
	background-color: rgba(255, 61, 99, 1.0);
	border-color: #fff;
	color: #fff
}

form input[type=submit],
form .hs-button {
	background-color: rgba(252, 21, 59, 1.0);
	border-color: rgba(255, 255, 255, 0.0);
	border-radius: 0px;
	color: rgba(255, 255, 255, 1.0);
	padding: 20px 35px
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
	background-color: rgba(218, 20, 52, 1.0);
	border-color: rgba(218, 20, 52, 1.0);
	color: #fff
}

form input[type=submit]:active,
form .hs-button:active {
	background-color: rgba(255, 61, 99, 1.0);
	border-color: rgba(255, 255, 255, 0.0);
	color: rgba(255, 255, 255, 1.0)
}

header.header {
	background-color: rgba(0, 0, 0, 0.0)
}

.header__container {
	max-width: 2300px
}

@media(max-width:767px) {
	.header__navigation {
		background-color: rgba(0, 0, 0, 0.0)
	}
	.header__navigation-toggle svg,
	.menu-arrow svg {
		fill: #fff
	}
}

footer.footer {
	background-color: rgba(252, 21, 59, 1.0)
}

.footer__col h5,
.footer_menu .hs-menu-wrapper>ul>li>a {
	color: rgba(255, 255, 255, 1.0)
}

.footer_menu .hs-menu-wrapper>ul ul li a {
	color: rgba(255, 255, 255, 1.0)
}

.footer_menu .hs-menu-wrapper>ul ul li a:hover {
	color: rgba(255, 255, 255, 1.0)
}

.row1-content-home h2:after {
	margin-bottom: 70px;
	content: "";
	width: 317px;
	height: 19px;
	background-color: #fc153b;
	position: absolute;
	bottom: -138px;
	left: 0
}

@media(min-width:768px) {
	.homepage-layout .span12.widget-span.widget-type-cell.area2-column-1-padding.dnd-column.area2-column-1 .row-number-3.area2-column-1-row-1>.row-fluid,
	.row-number-3.dnd-row .row-fluid {
		justify-content: space-between !important;
		margin: auto !important;
		padding: 0 !important
	}
}

.homepage-layout .row2-content-home .span4 {
	margin-left: 0 !important;
	margin-right: 0 !important
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
	color: transparent !important
}
